@import '/src/styles/main.module.scss';

.intro {
  width: 100vw;
  position: relative;
  height: calc(100vh - 5rem);
  margin-top: 4.1875rem;
  padding: 0 $padding-horizontal $padding-horizontal;

  @include tablet {
    height: calc(100dvh - 8rem);
  }

  @include mobile {
    padding: 0 $padding-mobile $padding-mobile;
    height: calc(100dvh - 7.5rem);
  }

  video {
    width: 100%;
    height: 100%;
  }

  &__title {
    @include sectionTitle;
    z-index: -1;

    @include tablet {
      font-size: 3.375rem;
      line-height: 3.875rem;
    }

    @include mobile {
      font-size: 2.75rem;
      line-height: 3.1875rem;
    }
  }

  &__title2 {
    position: relative;
    left: 50%;

    @include tablet {
      position: absolute;
      bottom: $padding-tablet;
    }

    @include mobile {
      left: 30%;
    }
  }

  &__video_container {
    position: relative;
    top: 6.25rem;
    display: none;

    @include tablet {
      display: block;
    }

    @include mobile {
      display: block;
    }
  }

  &__sphere_container {
    position: absolute;
    width: 73.75%;
    height: auto;
    top: 3.23%;
    left: 13%;
    aspect-ratio: 7 / 3.4;

    @include tablet {
      width: 89.5%;
      top: 25%;
      left: 5.4%;
      display: none;
    }
  }

  &__trigger_zone {
    position: absolute;
    top: 3.23%;
    left: 13%;
    width: 73.6vw;
    border-radius: 40rem;
    height: 36vw;
    z-index: 10000;

    @include tablet {
      display: none;
    }
  }

  &__balls_container {
    z-index: 10000;
    min-width: 100%;
    min-height: 50vh;
    display: inline-block;

    @include tablet {
      display: none;
      min-height: unset;
      width: 100%;
      height: 23.75rem;
    }
  }
}
