@import '/src/styles/main.module.scss';

.intro {
  position: fixed;
  top: 5rem;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 5rem);
  overflow-x: hidden;
  padding: 0 $padding-horizontal $padding-horizontal;
  z-index: 1;

  @include mobile {
    height: calc(100svh - 5rem);
    overflow-y: hidden;
  }

  &__title {
    position: relative;
    @include sectionTitle;
    padding-top: 4.1875rem;
    z-index: 10;

    @include tablet {
      font-size: 3.375rem;
      line-height: 3.875rem;
      padding-top: 3.3125rem;
    }

    @include mobile {
      font-size: 2.75rem;
      line-height: 3.1875rem;
      padding-top: 3.75rem;
    }
  }

  &__title_bottom {
    position: absolute;
    left: 50%;
    bottom: $padding-horizontal;
    @include sectionTitle;

    @include tablet {
      position: absolute;
      bottom: $padding-tablet;
      font-size: 3.375rem;
      line-height: 3.875rem;
    }

    @include mobile {
      left: 30%;
      font-size: 2.75rem;
      line-height: 3.1875rem;
    }
  }

  &__animation_container {
    position: absolute;
    width: 1387px;
    height: 689px;
    width: calc(74vw - $padding-horizontal);
    height: 60vh;
    top: 5vw;
    left: 15vw;

    @include tablet {
      width: 90%;
      top: 24vh;
      left: 5vw;
    }

    @include mobile {
      top: 35%;
      left: 5vw;
    }
  }

  &__trigger_zone {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40rem;
    z-index: 999999999;

    @include tablet {
      display: none;
    }
  }

  &__video_container {
    width: 100%;

    video {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__sphere_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    aspect-ratio: 16 / 9;
    background-image: url('/images/sphere.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top 5%;
    opacity: 0;

    &::after {
      content: '';
      background-image: url('./assets/Hn_icon.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;
      position: absolute;
      display: inline-block;
      width: 1.95rem;
      height: 1.65rem;
      bottom: 9.6rem;
      right: 3.5rem;
    }
  }

  &__balls_container {
    display: inline-block;
    position: absolute;
    z-index: 10000;
    width: 100%;
    top: 5vh;
    height: 98%;
    opacity: 0;

    @include tablet {
      display: none;
    }

    @include portrait {
      height: 50vh;
    }
  }
}
