@import '/src/styles/main.module.scss';

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.375rem $padding-horizontal;
  z-index: 99999999999999;
  transition: 0.3s ease-in-out;
  overflow-x: hidden;

  &__fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s ease-in-out;
    background-color: $haiqu-header-bg;
    overflow-x: hidden;
  }

  @include mobile {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    background-color: $haiqu-header-bg;
  }

  @include tablet {
    padding: 0.9375rem;
  }

  &__logo_group {
    position: relative;
    display: flex;
    width: 100%;
    cursor: pointer;
  }

  &__logo_container {
    width: 2.25rem;
    height: 2.25rem;

    @include mobile {
      width: 1.856875rem;
      height: 1.856875rem;
    }
  }

  &__logo_text {
    position: relative;
    left: -2rem;
    width: 7rem;

    @include mobile {
      width: 6.375rem;
    }
  }
}
