@import '/src/styles/main.module.scss';

.team {
  background-color: $white-color;
  width: 100%;
  padding: 4.375rem $padding-horizontal 20.375rem $padding-horizontal;

  @include tablet {
    padding: 5rem $padding-horizontal 11.25rem $padding-horizontal;
  }

  @include mobile {
    padding: 3.75rem $padding-mobile 10rem;
  }

  &__title {
    @include sectionTitle;
    margin-bottom: 12.5rem;

    @include tablet {
      margin-bottom: 3.625rem;
    }
  }
}
