@import '/src/styles/main.module.scss';

.testimonial {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scrollbar-color: auto;
  user-select: none;
  cursor: grab;
  scroll-behavior: auto;
  padding-left: $padding-horizontal;

  @include tablet {
    padding-left: $padding-tablet;
  }

  @include mobile {
    padding-left: $padding-mobile;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__items_container {
    display: flex;
    width: 100%;
  }
}
