@import '/src/styles/main.module.scss';

.testimonial {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scrollbar-color: auto;
  user-select: none;
  cursor: grab;
  scroll-behavior: auto;
  background-color: #000;
  padding: VW(100) 0;
  position: relative;
  z-index: 10;

  &:active {
    cursor: grabbing;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__slide {
    display: flex;
    justify-content: center;
    // width: 100vw !important;
    outline: none;
  }

  &__arrow {
    width: VW(480);
    min-height: VW(570);
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: opacity .3s ease;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);

    position: absolute;
    top: 0;
    z-index: 10;

    &:hover {
      opacity: 0.4;
    }

    & > svg {
      fill: aliceblue;
      scale: 0.6;
    }

    @include tablet {
      bottom: 0;  
    }
    
    @include mobile {
      bottom: 0;  
      opacity: 0 !important;
      width: 30%;
    }

    &_prev {
      rotate: 180deg;
      right: auto;
      left:  0;
    }
    
    &_next {
      left: auto;
      right:  0;
    }
  }

  &__pagination {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: VW(14);
    margin-top: VW(60);
  }

  &__page {
    width: VW(64);
    height: 0.1vw;
    min-height: 1px;
    background-color: $haiqu-light-grey;
    border: none;

    transition: background-color .3s ease;

    &[aria-selected="true"] {
      background-color: $haiqu-blue;
    }
  }
  
}
