@import '/src/styles/main.module.scss';

.we_are {
  padding: 0 $padding-horizontal;
  color: $white-color;
  position: relative;
  margin-bottom: 8.4375rem;

  &__content {
    background-color: $haiqu-blue;
    border-radius: 0.9375rem;
    width: 100%;
    height: 11.75rem;
    padding: $padding-horizontal 4.375rem;
    display: flex;

    @include tablet {
      height: 13rem;
      flex-direction: column;
      padding: $padding-horizontal 2.5rem;
    }

  }

  &__title {
    width: 6.3125rem;
    font-size: 2.125rem;
    margin-right: 9rem;

    @include tablet {
      width: unset;
      margin-right: unset;
      margin-bottom: 2.1875rem;
    }
  }

  &__line {
    position: absolute;
    width: 107.5rem;
    top: 50%;
    height: 1px;
    background-color: rgba($white-color, 0.35);

    @include tablet {
      display: none;
    }
  }

  &__professions {
    position: relative;
    padding-top: 0.625rem;
    display: flex;

    @include tablet {
      padding-top: unset;
      margin-left: 2rem;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        top: 50%;
        right: 0;
        height: 1px;
        background: rgba($white-color, 0.35);
        z-index: 10;
      }
    }
  }

  &__profession {
    font-size: 1.25rem;
    font-family: $fraktion-semibold;
    text-transform: uppercase;
    position: relative;
    margin-right: 3.5rem;

    @include tablet {
      font-size: 0.875rem;
      margin-right: unset;
    }


    &:nth-child(even) {
      margin-top: 5.375rem;

      @include tablet {
        margin-top: 2.5rem;
        margin-left: 1rem;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: -1.5rem;
      top: calc(0.9375rem / 2);
      width: 0.9375rem;
      height: 0.9375rem;
      background-color: $white-color;
      border-radius: 50%;

      @include tablet {
        width: 0.625rem;
        height: 0.625rem;
      }
    }
  }
}
