@import '/src/styles/main.module.scss';

.case_study {
  display: flex;
  background-color: $main-font-color;
  padding: $padding-horizontal;
  position: relative;
  border: 1px;

  @include tablet {
    flex-direction: column;
    align-items: stretch;
  }

  @include mobile {
    padding: $padding-mobile;
  }

  &__info {
    width: 55%;
    color: $white-color;
    height: max-content;
    position: sticky;
    top: 0;
    padding-top: $padding-horizontal;

    @include tablet {
      width: 65%;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__title {
    font-size: 1.625rem;
    line-height: 1.86875rem;
    margin-bottom: 4.375rem;

    @include tablet {
      margin-bottom: 3.75rem;
      font-size: 1rem;
    }

    @include mobile {
      font-size: 0.875rem;
      line-height: 1rem;
    }
  }

  &__moto {
    @include sectionTitle;
    max-width: 50.5rem;
    margin-bottom: 1.875rem;

    @include tablet {
      font-size: 3.375rem;
      line-height: 3.915rem;
      margin-bottom: 2.5rem;
    }

    @include mobile {
      max-width: unset;
      font-size: 2.75rem;
      line-height: 3.19rem;
      width: 100%;
    }
  }

  &__description {
    max-width: 42.9375rem;
    font-size: 2.125rem;
    // position: sticky;
    // top: 0;

    @include tablet {
      position: static;
      font-size: 1.5rem;
      line-height: 1.725rem;
      margin-bottom: 2.75rem;
    }

    @include mobile {
      font-size: 1.25rem;
      line-height: 1.4375rem;
      margin-bottom: 5rem;
    }
  }

  &__carousel_container {
    padding-top: $padding-horizontal;
    display: none;

    @include tablet {
      display: block;
    }

    @include mobile {
      display: none;
    }
  }

  &__cases_container {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: $padding-horizontal;

    @include tablet {
      display: none;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
