@import '/src/styles/main.module.scss';

.members {
  position: relative;
  width: 100%;
  display: flex;
  gap: $padding-mobile;
  height: 86.75rem;

  &__video_container {
    position: -webkit-sticky;
    position: sticky;
    top: $padding-horizontal;
    width: 28.375rem;
    height: 50.375rem;
    border-radius: 0.625rem;

    video {
      position: absolute;
      border-radius: 0.625rem;
      top: 0;
      right: 0;
      left: 0;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__photo {
    position: absolute;
    width: 20rem;
    height: 25.375rem;
    top: 12.5rem;
    right: 4.5rem;
    z-index: 20;

    img {
      border-radius: 0.9375rem;
      filter: grayscale(100%);
    }
  }

  &__spot {
    position: absolute;
    top: 8rem;
    right: 0;
    width: 10.625rem;
    height: 6.6875rem;
    background-image: url('/images/about-page/members-spot.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 222;
  }
}
