@import '/src/styles/main.module.scss';

.location {
  @include flexCenter;
  width: 57.1875rem;
  height: 48.125rem;
  transition: 0.3s ease;
  border-radius: 0.625rem;

  @include tablet {
    width: 100%;
    height: unset;
  }

  @include mobile {
    height: unset;
  }

  &__hovered {
    flex-direction: column;
    justify-content: unset;
    padding: $padding-horizontal;

    @include tablet {
      padding: 1.25rem 1.25rem $padding-horizontal;
    }
  }

  &__1 {
    transition: 0.3s ease;
    background-color: #cde9f7;
  }

  &__2 {
    transition: 0.3s ease;
    background-color: #d9d9d9;
  }

  &__3 {
    transition: 0.3s ease;
    background-color: #ffeabf;
  }

  &__4 {
    transition: 0.3s ease;
    background-color: #f7cfc6;
  }

  &__title {
    display: none;
    @include sectionTitle;
    color: $main-font-color;
    margin-bottom: $padding-horizontal;

    @include tablet {
      font-size: 2.75rem;
      margin-bottom: 1.25rem;
    }

    &__hovered {
      display: block;

      @include mobile {
        display: none;
      }
    }
  }

  &__city {
    @include sectionTitle;
    color: $haiqu-light-grey;

    @include tablet {
      font-size: 2.75rem;
      margin-bottom: 1.25rem;
    }

    @include mobile {
      display: none;
    }

    &__hovered {
      display: none;
    }
  }

  &__photo {
    display: none;
    margin-bottom: $padding-horizontal;
    width: 53.4375rem;
    height: 18.75rem;

    @include tablet {
      width: 100%;
      height: 7.5625rem;
      margin-bottom: 1.25rem;
    }

    @include mobile {
      min-height: 117px;
      width: 100%;
    }

    &__hovered {
      display: block;
      position: relative;

      img {
        border-radius: 1rem;
        object-fit: cover;
      }
    }
  }

  &__info {
    display: none;
    width: 100%;
    margin-bottom: 6.75rem;

    @include tablet {
      margin-bottom: 3.75rem;
    }

    &__hovered {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;

      @include tablet {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        div:first-child {
          margin-bottom: 1.25rem;
        }

        div:last-child {
          margin-bottom: unset;
        }
      }
    }
  }

  &__info_title {
    font-size: 1.625rem;

    @include tablet {
      font-size: 1rem;
    }

    @include mobile {
      font-size: 0.875rem;
    }
  }

  &__info_content {
    font-size: 2.125rem;

    @include tablet {
      font-size: 1.5rem;
    }

    @include mobile {
      font-size: 1.4375rem;
    }
  }

  &__address {
    display: none;
    width: 33.5rem;
    font-size: 1.625rem;
    align-self: flex-start;

    @include tablet {
      font-size: 1rem;
      width: 19.4375rem;
    }

    &__hovered {
      display: block;
    }
  }
}
