@import "/src/styles/main.module.scss";

.card {
  position: relative;
  border: 1px solid $main-font-color;
  border-radius: 0.9375rem;
  padding: 1.875rem;
  width: 100%;
  min-height: 50rem;
  overflow: hidden;
  transition: background-color 0.3s ease;

  @include tablet {
    transition: background-color 0.3s ease;
    background-color: $main-font-color;
    min-height: VW(788, $tablet);
    padding: VW(20, $tablet);
    border-radius: VW(15, $tablet);
  }

  @include mobile {
    padding: $padding-mobile;
    min-height: 42.625rem;
    padding-bottom: 34rem;
  }

  &:hover {
    transition: background-color 0.3s ease;
    background-color: $main-font-color;
  }

  &__hovered {
    border: unset;
  }

  &__red {
    transition: background-color 0.3s ease;
    background-color: $haiqu-red;

    &:hover {
      transition: background-color 0.3s ease;
      background-color: $haiqu-red;
    }
  }

  &__blue {
    transition: background-color 0.3s ease;
    background-color: $haiqu-blue;

    &:hover {
      transition: background-color 0.3s ease;
      background-color: $haiqu-blue;
    }
  }

  &__black {
    transition: background-color 0.3s ease;
    background-color: $main-font-color;

    &:hover {
      transition: background-color 0.3s ease;
      background-color: $main-font-color;
    }
  }

  &__image {
    position: relative;
    width: 16.8125rem;
    aspect-ratio: 1 / 1;
    border-radius: 0.625rem;
    background-color: $main-font-color;
    margin-bottom: 1.875rem;
    transition: 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      width: VW(200, $tablet);
      border-radius: VW(10, $tablet);
    }

    @include mobile {
      width: 10.625rem;
    }

    &__hovered {
      transition: 1s ease;
      background-color: white;
    }

  }

  &__image_text {
    position: absolute;
    bottom: 20px;
    text-transform: uppercase;
    font-family: $fraktion-font;
    color: $haiqu-light-grey;

    @include tablet {
      font-size: VW(20, $tablet);
      bottom: 4%;
    }

    @include mobile {
      bottom: 4%;
    }
  }

  &__button {
    width: max-content;
    padding: $padding-button;
    font-family: $fraktion-semibold;
    text-transform: uppercase;
    background-color: rgba(white, 0.35);
    border: unset;
    border-radius: 0.625rem;
    color: white;
    font-size: 1.25rem;
    line-height: 1.5rem;
    position: absolute;
    right: 1.875rem;
    top: 1.875rem;
    transition: transform 1s ease;
    transform: translateY(-4rem);

    @include tablet {
      font-size: VW(20, $tablet);
      padding: VW(10, $tablet) VW(10, $tablet) VW(10, $tablet);

      bottom: VW(20, $tablet);
      top: unset;
      right: unset;
      left: VW(20, $tablet);
    }
    
    @include mobile {
      bottom: VW(15, $mobile);
      top: unset;
      right: unset;
      left: VW(15, $mobile);
    }

    &:hover {
      transition: translate 1s ease;
      opacity: 0.6;
    }

    &:visited {
      color: $main-font-color;
    }

    &__hovered {
      transition: transform 1s ease;
      transform: translateY(0);
    }
  }

  &__info {
    position: absolute;
    transform: translateY(16.5rem);
    transition: 1s ease;

    &__hovered {
      color: white;
      transform: translateY(0);
      transition: 1s ease;
    }
  }

  &__title {
    opacity: 0.5;
    font-size: 1.625rem;
    margin-bottom: 0.9375rem;

    @include tablet {
      font-size: VW(16, $tablet);
      margin: VW(20, $tablet) 0;
    }
  }

  &__moto {
    font-size: 2.125rem;
    margin-bottom: 4.375rem;

    @include tablet {
      font-size: VW(20, $tablet);
      margin-bottom: 3.75rem;
    }

    @include mobile {
      font-size: 1.25rem;
    }
  }

  &__badges {
    display: flex;
    gap: 0.9375rem;
    margin-bottom: 0.9375rem;

    @include mobile {
      gap: 0.45rem;
      flex-wrap: wrap;
    }
  }

  &__badge {
    padding: 3px 12px 6px;
    background-color: rgba(#d9d9d959, 0.35);
    border-radius: 1.875rem;
    font-family: $fraktion-font;
    font-size: 1.25rem;
    line-height: 1;
    width: max-content;

    @include tablet {
      padding: VW(4, $tablet) VW(10, $tablet);
      font-size: VW(20, $tablet);
    }

    @include mobile {
      font-size: 0.875rem;
    }
  }

  &__text {
    font-size: 2.125rem;
    width: calc(100% - 1.875rem);

    @include tablet {
      font-size: VW(24, $tablet);
    }

    @include mobile {
      font-size: 1.25rem;
    }
  }
}
