@import '/src/styles/main.module.scss';

.ticker {
  position: relative;
  width: 100%;
  padding: 13.75rem 0;
  overflow: hidden;
  @include flexCenter;
  flex-direction: column;

  @include tablet {
    padding: 10rem 0;
  }

  &__title {
    font-size: 1.625rem;
    text-align: center;
    margin-bottom: 0.9375rem;

    &__dark {
      color: $white-color;
    }

    @include tablet {
      font-size: 1rem;
    }

    @include mobile {
      font-size: 1rem;
    }
  }

  &__container {
    background-color: rgba($haiqu-light-grey, 0.35);
    width: 40%;
    height: 7rem;
    display: flex;
    align-items: center;
    border-radius: 0.95rem;
    overflow: hidden;
    text-align: center;

    @include tablet {
      width: 66%;
      height: 4.171875rem;
    }

    @include mobile {
      width: 100%;
      border-radius: 0.375rem;
      height: 3.5rem;
    }
  }

  &__logos {
    animation: animate 60s linear infinite;
    animation-delay: -60s;
    white-space: nowrap;
    display: flex;

    &:nth-child(2) {
      animation: animate2 60s linear infinite;
      animation-delay: -30s;
    }
  }

  &__logo_container {
    padding-top: 1rem;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vh;
    width: 7rem;
    margin-right: 3.35rem;

    @include tablet {
      height: 4.125rem;
      transform: scale(1.2);
      margin-right: 1rem;
    }

    @include mobile {
      transform: scale(1.2);
      height: 3.5rem;
      margin-right: 1rem;
    }

    img {
      object-position: center;
      object-fit: contain;
    }
  }

  @keyframes animate {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes animate2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
}
