@import '/src/styles/main.module.scss';

.seminar {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.9375rem;
  padding: $padding-horizontal;
  border: 1px solid rgba($main-font-color, 0.35);

  &__photo {
    width: 16.8125rem;
    height: 16.8125rem;
    position: relative;
    border-radius: 0.625rem;
    overflow: hidden;
    margin-bottom: 1.875rem;
  }

  &__image {
    transition: 1s ease;

    &_hovered {
      transform: scale(1.5);
    }
  }

  &__title {
    width: 16.8125rem;
    font-size: 2.125rem;
    margin-bottom: 0.9375rem;
  }

  &__description {
    width: 16.8125rem;
    font-size: 1.625rem;
    margin-bottom: 1.875rem;
    line-height: 1.86875rem;
  }

  &__button {
    width: 16.8125rem;
    border: none;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-family: $fraktion-semibold;
    line-height: 1.5rem;
    font-weight: 560;
    padding: $padding-button;
    display: inline-block;
    background-color: rgba($haiqu-light-grey, 0.35);
    border-radius: 0.625rem;
    transition: 0.3s ease;

    &:hover {
      transition: 0.3s ease;
      opacity: 0.6;
    }

    span {
      margin-right: 0.4rem;
    }
  }
}
