@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin buttonCommonStyles {
  position: absolute;
  top: $padding-horizontal;
  right: $padding-horizontal;
  transition: 1s ease;
  transform: translateY(-4.5rem);
  border: none;
  font-family: $fraktion-font;
  padding: $padding-button;
  border-radius: 0.625rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgba($haiqu-light-grey, 0.35);
}

@mixin btn {
  border: none;
  font-family: $fraktion-font;
  padding: $padding-button;
  border-radius: 0.625rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgba($haiqu-light-grey, 0.35);
}

@mixin sectionTitleMobile {
  font-size: 2.75rem;
  line-height: 3.1875rem;
}

@mixin extra {
  @media (min-width: 2560px) {
    @content;
  }
}

// @mixin extra {
//   @media (aspect-ratio: 21/9) {
//     @content;
//   }
// }

// @mixin forMobileRatio() {
//   @media screen and (max-aspect-ratio: 2/3) {
//     @content;
//   }
// }

// @mixin forTabletRatio() {
//   @media screen and (min-aspect-ratio: 2/3) and (max-aspect-ratio: 4/3) {
//     @content;
//   }
// }

// @mixin forPortraitTabletRatio() {
//   @media screen and (min-aspect-ratio: 4/3) and (max-aspect-ratio: 15/9) {
//     @content;
//   }
// }

@mixin desktopRatio {
  @media screen and (min-aspect-ratio: 15/9) and (max-aspect-ratio: 21/9) {
    @content;
  }
}

@mixin tablet {
  // @media (max-width: 834px) {
  //   @content;
  // }

  @media screen and (min-aspect-ratio: 2/3) and (max-aspect-ratio: 4/3) {
    @content;
  }
}

@mixin mobile {
  // @media (max-width: 430px) {
  //   @content;
  // }

  @media screen and (max-aspect-ratio: 2/3) {
    @content;
  }
}

@mixin smallMobile {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin sectionTitle {
  font-size: 5.25rem;
  line-height: 6.09rem;

  @include tablet() {
    font-size: VW(54, $tablet);
    line-height: 100%;
  }

  @include mobile {
    font-size: 2.75rem;
    line-height: 3.19rem;
  }
}

@function VW($px, $base: 1920) {
  @return calc(($px / $base) * 100vw);
}
