@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin buttonCommonStyles {
  position: absolute;
  top: $padding-horizontal;
  right: $padding-horizontal;
  transition: 1s ease;
  transform: translateY(-4.5rem);
  border: none;
  font-family: $fraktion-font;
  padding: $padding-button;
  border-radius: 0.625rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgba($haiqu-light-grey, 0.35);
}

@mixin btn {
  border: none;
  font-family: $fraktion-font;
  padding: $padding-button;
  border-radius: 0.625rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgba($haiqu-light-grey, 0.35);
}


@mixin sectionTitleMobile {
  font-size: 2.75rem;
  line-height: 3.1875rem;
}

@mixin tablet {
  @media (max-width: 834px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 430px) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) and (min-width: 834px) {
    @content;
  }
}


@mixin sectionTitle {
  font-size: 5.25rem;
  line-height: 6.09rem;
  font-weight: 400;

  @include tablet {
    font-size: 3.375rem;
    line-height: 3.915rem;
  }

  @include mobile {
    font-size: 2.75rem;
    line-height: 3.19rem;
  }
}
