$fraktion-font: var(--fraktion-font);
$fraktion-semibold: var(--fraktion-font-semibold);
$neue-montreal-font: var(--neue-montreal-font);

$main-font-color: #000;
$white-color: #fff;
$haiqu-blue: #236ce6;
$haiqu-light-blue: #cde9f7;
$haiqu-orange: #ff7e3d;
$haiqu-header-bg: #f7f7f7;

//second screen bg color:
$haiqu-light-grey: #d9d9d9;
$padding-section: 4.375rem;
$padding-section-mobile: 3.75rem;
$padding-horizontal: 1.875rem;
$padding-mobile: 0.9375rem;
$padding-tablet: 1.25rem;
$padding-button: 0.1875rem 0.625rem 0.3125rem 0.625rem;

$testimonial-item-width: 35vw;
$total-testimonial-quantity: var(--testimonial-items-quantity);

$max-z-index: 999999999;