@import '/src/styles/main.module.scss';

.testimonial_item {
  width: VW(854);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: VW(30);
  color: $white-color;
  text-align: center;

  @include tablet {
    padding: $padding-tablet;
    min-width: 50%;
  }

  @include mobile {
    padding: $padding-tablet;
    min-width: 80%;
  }

  &__name {
    font-size: 1.625rem;

    @include tablet {
      font-size: VW(16, $tablet);
    }
    
    @include mobile {
      font-size: VW(16, $mobile);
    }
  }

  &__role {
    font-size: 1.625rem;
    color: rgba($white-color, 0.35);
    margin-bottom: 0.9375rem;

    @include tablet {
      font-size: VW(16, $tablet);
    }
    
    @include mobile {
      font-size: VW(16, $mobile);
    }
  }

  &__quote {
    font-size: VW(44);
    line-height: 110%;
    
    @include tablet {
      font-size: VW(32, $tablet);
    }
    
    @include mobile {
      font-size: VW(22, $mobile);
    }
  }

  .icon {
    width: VW(50);
    height: VW(44);
    
    @include tablet {
      width: VW(34, $tablet);
      height: VW(31, $tablet);
    }

    @include mobile {
      width: VW(34, $mobile);
      height: VW(31, $mobile);
    }
  }
}
