@import '/src/styles/main.module.scss';

.case_study {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: $padding-horizontal;
  border: 1px solid rgba($white-color, 0.35);
  border-radius: 0.9375rem;
  overflow: hidden;
  height: 59.875rem;
  background-color: $main-font-color;
  color: $white-color;

  @include tablet {
    min-width: 36.0625rem;
    height: 35.625rem;
    padding: $padding-tablet;
  }

  @include mobile {
    display: none;
  }

  &__light {
    background-color: $white-color;
    color: $main-font-color;
  }

  &__photo {
    position: relative;
    width: 36.375rem;
    height: 35.375rem;
    border-radius: 0.625rem;

    @include tablet {
      width: 18.3125rem;
      height: 17.8125rem;
      margin-bottom: 2.5rem;
    }

    &__light {
      border-radius: 50%;
    }
  }

  &__learn_button_mask {
    width: 13.5rem;
    height: 2rem;
    background-color: $main-font-color;
    position: absolute;
    top: calc($padding-horizontal * 2);
    right: $padding-horizontal;
    z-index: 2;

    @include tablet {
      display: none;
    }
  }

  &__learn_button_container {
    position: absolute;
    display: flex;
    align-items: center;
    top: calc($padding-horizontal * 2);
    right: $padding-horizontal;
    transition: 1s ease;

    &__hovered {
      transform: translateY($padding-horizontal);
      transition: 1s ease;

      @include tablet {
        transform: unset;
      }
    }
  }

  &__union_symbol {
    position: relative;
    width: 0.8125rem;
    height: 2rem;
    margin-right: 0.3rem;
  }

  &__learn_button {
    border: none;
    background-color: unset;
    text-transform: uppercase;
    font-family: $fraktion-font;
    font-size: 1.25rem;
    color: $white-color;
    cursor: pointer;
  }

  &__image {
    transform-origin: top left;
    transition: 1s ease;
    border-radius: 0.625rem;

    &__hovered {
      transform: scale(0.4628);
      transform-origin: top left;
      border-radius: 0.625rem;

      &__light {
        border-radius: 50%;

        @include tablet {
          border-radius: unset;
        }
      }

      @include tablet {
        transform: unset;
      }
    }
  }

  &__info {
    position: absolute;

    bottom: -8rem;
    transition: 1s ease;

    &__hovered {
      transition: 1s ease;
      bottom: $padding-horizontal;
    }

    @include tablet {
      position: relative;
      bottom: unset;
      display: flex;
      flex-direction: column;
    }
  }

  &__category {
    line-height: 1.86875rem;
    margin-bottom: 0.9375rem;
    font-size: 1.625rem;
    opacity: 0.35;

    @include tablet {
      font-size: 1rem;
      line-height: 1.15rem;
    }
  }

  &__company {
    font-size: 2.125rem;
    margin-bottom: 4.375rem;

    @include tablet {
      font-size: 1.5rem;
      line-height: 1.725rem;
      margin-bottom: 3.75rem;
    }
  }

  &__description {
    font-size: 2.125rem;

    @include tablet {
      font-size: 1.5rem;
      line-height: 1.725rem;
      width: 23rem;
      margin-top: auto;
    }
  }
}
