@import '/src/styles/main.module.scss';

.tech_intro {
  width: 100vw;
  background-color: $haiqu-light-grey;
  position: relative;

  // @include tablet {
  //   width: 150vw;
  // }

  &__process_bar {
    position: relative;
    width: 100%;
    height: 0.5rem;
    background-color: $main-font-color;
    opacity: 0.15;
    margin-bottom: 0.25rem;

    @include tablet {
      width: 150%;
    }

    &__filled {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      background-color: $haiqu-light-grey;

      @include tablet {
        width: 150%;
      }
    }
  }

  &__mask_filled {
    clip-path: polygon(0 0, 2% 0, 2% 100%, 0% 100%);
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    height: 0.5rem;
    background-color: $haiqu-blue;
    z-index: 1;

    @include tablet {
      clip-path: polygon(0 0, 4% 0, 4% 100%, 0% 100%);
    }

    @include mobile {
      clip-path: polygon(0 0, 8% 0, 8% 100%, 0% 100%);
    }
  }

  &__logo {
    // transform: translateX(-2.25rem);
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
    margin-bottom: 16.875rem;

    @include tablet {
      margin-bottom: 3.8125rem;
    }
  }

  &__text {
    font-size: 2.125rem;
    text-align: center;

    @include tablet {
      position: relative;
      // left: -25vw;
      font-size: 1.5rem;
      line-height: 1.725rem;
    }

    @include mobile {
      font-size: 1.25rem;
      line-height: 1.4375rem;
    }
  }

  &__moto {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    width: 100%;
    top: 0;
    left: 0;
    font-size: 2.125rem;
    position: relative;
    z-index: 14;
    text-align: center;

    @include tablet {
      position: relative;
      font-size: 1.5rem;
      line-height: 1.725rem;
      margin-bottom: 2.75rem;
    }

    @include mobile {
      font-size: 1.25rem;
      line-height: 1.4375rem;
      margin-bottom: 3.75rem;
    }
  }

  // &__illustration {
  //   position: relative;
  //   width: 100%;
  //   background-color: $haiqu-orange;

  // }

  &__100x_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    position: relative;
    top: -5.8%;
    z-index: 13;
    width: 100%;
    text-align: center;
    left: 0;

    @include tablet {
      top: -9vh;
    }

    @include mobile {
      top: -14vh;
    }
  }

  &__line {
    position: relative;
    width: 1px;
    height: 8.375rem;
    height: 4rem;
    margin-bottom: 1.25rem;

    @include tablet {
      height: 2.6875rem;
    }
  }

  &__number {
    position: sticky;
    top: 0;
    width: 83.875rem;
    height: 29.1875rem;
    background-color: $main-font-color;
    mask-image: url('./assets/100x.svg');
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    overflow-x: hidden;

    @include tablet {
      width: 48.375rem;
      height: 17.1875rem;
    }

    @include mobile {
      width: 22.5rem;
      height: 7.9375rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: $haiqu-blue;
      transition: left 0.8s ease;
    }

    &__hovered {
      &::before {
        left: 0;
        transition: left 0.8s ease;
      }
    }
  }

  &__dc {
    position: relative;
    // top: -6rem;
    @include flexCenter;
    flex-direction: column;
    padding-bottom: 12.1875rem;

    @include tablet {
      padding-bottom: 17.5rem;
    }

    @include mobile {
      padding-bottom: 7.6rem;
    }
  }

  &__dc_title {
    @include sectionTitle;
    margin-bottom: 13.125rem;

    @include tablet {
      font-size: 3.375rem;
      line-height: 3.915rem;
      margin-bottom: 7.5rem;
    }

    @include mobile {
      font-size: 2.75rem;
      line-height: 3.19rem;
    }
  }

  &__dc_description_top {
    text-align: center;
    width: 42.9375rem;
    font-size: 2.125rem;
    line-height: 2.44375rem;
    margin-bottom: 2.5rem;

    @include tablet {
      width: 30.875rem;
      font-size: 1.5rem;
      line-height: 1.725rem;
    }

    @include mobile {
      width: 19.9375rem;
      font-size: 1.25rem;
      line-height: 1.4375rem;
    }
  }

  &__dc_description_bottom {
    text-align: center;
    width: 42.9375rem;
    font-size: 2.125rem;
    line-height: 2.44375rem;
    opacity: 0.35;
    margin-bottom: 1.875rem;

    @include tablet {
      width: 30.875rem;
      font-size: 1.5rem;
      line-height: 1.725rem;
    }

    @include mobile {
      width: 19.9375rem;
      font-size: 1.25rem;
      line-height: 1.4375rem;
    }
  }

  &__learn_more {
    @include btn;
    transition: 0.3s ease;
    border: 1px solid rgba($main-font-color, 0.35);
    color: $main-font-color;

    &:hover {
      opacity: 0.6;
      transition: 0.3s ease;
    }
  }
}
