@import '/src/styles/main.module.scss';

.member {
  &__info {
    padding-top: $padding-horizontal;
    display: flex;
    gap: $padding-mobile;
    max-height: 13.5rem;
    overflow-y: hidden;
    transition: max-height 0.8s ease;

    &__opened {
      // height: 30.875rem;
      // height: max-content;
      max-height: 40rem;
      transition: max-height 0.8s ease;
    }
  }

  &__details {
    width: 57.625rem;
    border-top: 1px solid $main-font-color;
  }

  &__name {
    font-size: 10rem;
    font-size: 5.25rem;
    font-weight: 116%;
    color: rgba($main-font-color, 0.35);
    transition: 0.3s ease;
    padding-bottom: 5.625rem;

    &__opened {
      color: $main-font-color;
      transition: 0.8s ease;
    }
  }

  &__description {
    font-size: 1.625rem;
    width: 42.125rem;
    margin-bottom: 3.75rem;
  }

  &__icons {
    display: none;
    position: relative;
    width: 100%;
    height: 7rem;
  }

  &__role_container {
    position: relative;
    padding-top: $padding-mobile;
    width: 28.3125rem;
    font-size: 1.625rem;
    border-top: 1px solid $main-font-color;
    color: rgba($main-font-color, 0.35);
    transition: 0.8s ease;

    &__opened {
      color: $main-font-color;
      transition: 0.8s ease;
    }
  }

  &__role {
    display: flex;
    justify-content: flex-start;
    width: 15.25rem;
    position: absolute;
    left: 0;
    transition: 0.8s ease;

    &__opened {
      justify-content: flex-end;
      color: $main-font-color;
      transition: 0.8s ease;
    }
  }
}
