@import '/src/styles/main.module.scss';

.mobile_menu__container {
  display: none;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  height: 100dvh;
  top: 3.7rem;
  // right: 0.9375rem;
  // left: 0.9375rem;

  right: 0;
  left: 0;
  z-index: 99999999999;
  background-color: rgba($white-color, 0.8);
  background-color: rgba($white-color, 1);


  &::-webkit-scrollbar {
    display: none;
  }

  &__visible {
    display: none;

    @include tablet {
      display: block;
    }
  }
}

.mobile_menu {
  padding: 0 0.9375rem;

  @include tablet {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 0.9375rem;
    transform: translateX(110%);
    transition: 0.15s ease;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
    transform: translateX(110%);
    transition: 0.15s ease;
  }

  &__visible {
    transform: translateX(0);
    transition: 0.15s ease;
  }

  &__links_container {
    display: flex;
    flex-direction: column;
    background-color: $haiqu-light-blue;
    border-radius: 0.9375rem;
    padding: 1.5625rem;

    @include tablet {
      width: 50%;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__explore {
    text-transform: uppercase;
    font-family: $fraktion-semibold;
    font-size: 1.125rem;
    line-height: 1.35rem;

    @include tablet {
      margin-bottom: 11.875rem;
    }

    @include mobile {
      margin-bottom: 2.9375rem;
      margin-bottom: 8dvh;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 2.75rem;
    text-transform: capitalize;
    color: $main-font-color;
    transition: 0.3s ease;
    margin-bottom: 1.8125rem;

    @include mobile {
      font-size: 2.5rem;
      line-height: 4rem;
      margin-bottom: 0;
    }

    &:hover {
      opacity: 0.3;
      transition: 0.3s ease;
    }

    &:visited {
      color: $main-font-color;
    }

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  &__follow_us {
    background-color: $haiqu-light-grey;
    border-radius: 0.9375rem;
    padding: 1.5625rem;

    @include tablet {
      width: 50%;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__follow_us_title {
    font-family: $fraktion-semibold;
    font-size: 1.125rem;
    line-height: 1.35rem;
    text-transform: uppercase;
    margin-bottom: 4.5vh;

    @include tablet {
      margin-bottom: 12.3125rem;
    }

    @include mobile {
      margin-bottom: 5.2dvh;
    }
  }

  &__follow_us_links {
    a {
      text-decoration: none;
      color: rgba($main-font-color, 0.4);
      display: block;
      cursor: pointer;
      font-size: 1.5rem;
      line-height: 2.4rem;

      &:visited {
        color: rgba($main-font-color, 0.4);
      }
    }
  }
}

.mob_menu {
  display: none;

  @include mobile {
    padding: 0.93rem;
    display: flex;
    flex-direction: column;
    gap: 0.93rem;
  }

  &__top {
    background-color: $haiqu-light-blue;
    height: 50dvh;
    border-radius: 0.9375rem;
    @include flexCenter;
  }

  &__bottom {
    background-color: $haiqu-light-grey;
    height: 35dvh;
    border-radius: 0.9375rem;
    @include flexCenter;
  }
}
