@import '/src/styles/main.module.scss';

.our_middleware {
  width: 100vw;
  background-color: $haiqu-light-grey;
  padding: 4.275rem 1.875rem 13.125rem 1.875rem;
  display: flex;
  gap: 7.5625rem;
  position: relative;
  z-index: 21;

  @include tablet {
    flex-direction: column;
    padding: VW(60, $tablet) VW(30, $tablet);
  }
  
  @include mobile {
    flex-direction: column;
    padding: VW(60, $mobile) VW(16, $mobile);
  }

  &__leftside {
    width: 50%;
    height: fit-content;
    position: sticky;
    top: 7%;

    @include tablet {
      position: relative;
      top: 0;
    }
    
    @include mobile {
      position: relative;
      top: 0;
    }
  }

  &__rightside {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    width: 50vw;
    
    @include tablet {
      width: 77vw;
      gap: VW(45, $tablet);
    }

    @include mobile {
      width: 100%;
      gap: 1.25rem;
    }
  }

  &__title {
    font-size: 10rem;
    line-height: 1;
    width: 54.5625rem;
    margin-bottom: 1.875rem;

    @include tablet {
      font-size: VW(105, $tablet);
    }

    @include mobile {
      width: 100%;
      font-size: 4.375rem;
      margin-bottom: unset;
    }
  }

  &__description {
    font-size: 1.625rem;
    width: 20.9375rem;

    @include tablet {
      display: none;
    }
  }
}
