:root {
  --testimonial-items-quantity: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  // scroll-behavior: auto !important;
  font-size: 0.833333vw;
  font-family: var(--neue-montreal-font);
  height: -webkit-fill-available;

  @media (max-width: 834px) {
    font-size: 1.34vh;
    overflow-x: hidden;
  }

  @media (max-width: 430px) {
    font-size: 1.875vh;
    overflow-x: hidden;
  }
}

