:root {
  --testimonial-items-quantity: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html,
body {
  font-size: 0.833333vw;
  font-family: var(--neue-montreal-font);
  position: relative;
    overflow-x: clip;

  // @media (aspect-ratio: 21/9) {
  //   font-size: 0.625vw;
  //   overflow-x: hidden;
  // }

  @media (min-width: 2560px) {
    font-size: 0.625vw;
    overflow-x: hidden;
  }

  @media (max-width: 834px) {
    font-size: 1.34vh;
    overflow-x: hidden;
  }

  @media (max-width: 430px) {
    font-size: 1.875vh;
    overflow-x: hidden;
  }

  padding-top: 0 !important;
}

.book_a_demo_container {
  position: fixed;
  bottom: 1.875rem;
  right: 1.875rem;
  z-index: 9999999999;

  @media (max-width: 834px) {
    display: none;
  }
}
