@import '/src/styles/main.module.scss';

.growing {
  position: relative;
  width: 100%;
  display: flex;
  padding: 0 $padding-horizontal;
  overflow-x: hidden;

  @include tablet {
    flex-direction: column;
    padding-bottom: 7.5rem;
  }

  @include mobile {
    padding: 0 $padding-mobile;
  }

  &__title {
    width: 47.125rem;
    font-size: 10rem;
    line-height: 100%;
    margin-top: 15.75rem;
    margin-bottom: 13.125rem;

    @include tablet {
      font-size: 6.5625rem;
      margin-top: unset;
      margin-bottom: 2.5rem;
    }

    @include mobile {
      font-size: 4.375rem;
      width: 100%;
    }
  }

  &__graph {
    position: absolute;
    left: 58rem;
    width: 63.8125rem;
    height: 42.5625rem;

    @include tablet {
      position: relative;
      left: -$padding-horizontal;
      top: 0;
      width: 60.8125rem;
      height: 39.5625rem;
    }

    @include mobile {
      width: calc(100vw - $padding-mobile);
      height: 30rem;
      left: unset;
      margin-bottom: 10rem;

      img {
        object-fit: fill;
        object-position: left;
      }
    }

    @include smallMobile {
      height: 34rem;
    }
  }

  &__button {
    position: absolute;
    left: $padding-horizontal;
    bottom: 7.125rem;
    width: max-content;
    padding: $padding-button;
    font-family: $fraktion-semibold;
    text-transform: uppercase;
    background-color: unset;
    border: 1px solid rgba($main-font-color, 0.35);
    border-radius: 0.625rem;
    transition: 0.3s ease;
    color: $main-font-color;
    font-size: 1.25rem;
    line-height: 1.5rem;

    @include tablet {
      position: relative;
      bottom: unset;
      left: unset;
    }

    @include mobile {
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin-bottom: 5rem;
    }

    &:hover {
      transition: 0.3s ease;
      opacity: 0.6;
    }

    &:visited {
      color: $main-font-color;
    }
  }
}
