@import '/src/styles/main.module.scss';

.intro {
  position: relative;
  width: 100%;
  padding: 7.5rem 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include mobile {
    padding-bottom: unset;
  }

  &__title {
    @include sectionTitle;
    width: 55.5rem;
    text-align: center;

    @include tablet {
      width: 36.75rem;
    }

    @include mobile {
      width: 18.875rem;
      margin-bottom: unset;
    }
  }

  &__title_part {
    position: relative;
    height: calc(100vh - 29rem);
    display: flex;
    align-items: flex-end;

    @include tablet {
      height: calc(100vh - 25rem);
    }

    @include mobile {
      display: unset;
      height: 3.5rem;
      margin-bottom: 3.75rem;
    }
  }

  &__title_part_text {
    color: $haiqu-blue;
    font-size: 18.75rem;
    line-height: 1;
    position: relative;

    @include tablet {
      font-size: 8.3125rem;
    }

    @include mobile {
      color: $main-font-color;
      line-height: 116%;
      font-size: 2.75rem;
      margin-bottom: 3.75rem;
    }
  }

  &__bubbles {
    position: relative;
    @include flexCenter;

    @include tablet {
      // margin-bottom: 2.5rem;
    }

    @include mobile {
      margin-bottom: 2.875rem;
    }
  }

  &__perhaps_container {
    height: 40rem;

    @include tablet {
      height: 19.25rem;
    }

    @include mobile {
      height: unset;
    }
  }

  &__perhaps {
    padding-top: 2.5rem;
    position: relative;
    position: sticky;
    top: 0;
    font-size: 2.125rem;
    color: rgba($main-font-color, 0.35);


    @include tablet {
      font-size: 1.5rem;
    }

    @include mobile {
      font-size: 1.25rem;
      margin-bottom: 10rem;
      padding-top: unset;
    }

    span {
      opacity: 0;

      @include mobile {
        opacity: 1;
      }
    }
  }
}
