@import '/src/styles/main.module.scss';

.example {
  position: relative;
  width: 100vw;
  z-index: 20;
  background-color: white;
  padding: 4.275rem 1.875rem 4.275rem 1.875rem;
  overflow: hidden;

  @include mobile {
    padding: 4.375rem $padding-mobile;
  }

  &__title {
    @include sectionTitle;
    margin-bottom: $padding-mobile;
  }

  &__info {
    display: flex;
    gap: VW(140);
    margin-bottom: 13.125rem;

    @include tablet {
      flex-direction: column;
      width: 100%;
      margin-bottom: 16.1875rem;
    }

    @include mobile {
      margin-bottom: 3.5rem;
    }
  }

  &__description {
    width: 50%;

    @include tablet {
      width: 100%;
    }

    @include mobile {
      margin-bottom: 3.75rem;
    }
  }

  &__subheading {
    font-size: 2.125rem;
    width: 38rem;
    margin-bottom: 1.875rem;

    @include tablet {
      font-size: 1.5rem;
      width: 23.5rem;
      margin-bottom: 1.875rem;
    }

    @include mobile {
      font-size: 1.25rem;
    }

    &__footer {
      width: 33.125rem;

      @include mobile {
        width: 100%;
      }
    }

    &__opacity {
      opacity: 0.35;
    }
  }

  &__button {
    width: max-content;
    padding: $padding-button;
    font-family: $fraktion-semibold;
    text-transform: uppercase;
    background-color: unset;
    border: 1px solid rgba($main-font-color, 0.35);
    border-radius: 0.625rem;
    transition: 0.3s ease;
    color: $main-font-color;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 11.625rem;
    text-decoration: none;
    display: block;

    @include tablet {
      margin-bottom: 2.25rem;
    }

    &:hover {
      transition: 0.3s ease;
      opacity: 0.6;
    }

    &:visited {
      color: $main-font-color;
    }
  }

  &__paragraphs_container {
    display: flex;
    flex-direction: column;
    gap: 4.375rem;

    @include tablet {
      flex-direction: row;
      width: 100%;
      margin-bottom: 2.5rem;
    }

    @include mobile {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  &__paragraph {
    width: 30.0625rem;
    color: rgba($main-font-color, 0.35);
    font-size: 1.625rem;

    @include tablet {
      width: 50%;
      font-size: 1rem;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__orange_circle {
    position: relative;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    background-color: $haiqu-orange;

    @include tablet {
      width: 0.625rem;
      height: 0.625rem;
    }
  }

  &__graph {
    position: relative;
    width: VW(710);
    height: VW(710);
    border-radius: VW(48);

    @include tablet {
      width: VW(710 , $tablet);
      height: VW(710 , $tablet);
    }

    @include mobile {
      height: 25.625rem;
    }

    img {
    border-radius: VW(48);

    }
  }

  &__graph_container {
    position: absolute;
    top: -2.5rem;
    left: -2rem;
    right: -1.25rem;

    @include tablet {
      margin-bottom: 7.1875rem;
    }

    @include mobile {
      left: -$padding-mobile;
      right: -$padding-mobile;
    }
  }

  &__footer {
    border-top: 1px solid $main-font-color;
    padding-top: 1.875rem;
    display: flex;
    flex-direction: column;

    @include tablet {
      width: 100%;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}
