@import '/src/styles/main.module.scss';

.interested_section {
  position: relative;
  background-color: $main-font-color;
  height: 68.875rem;
  padding: 0 $padding-horizontal;
  overflow: hidden;
  z-index: 2;

  @include tablet {
    height: 35.3rem;
    padding: 0 $padding-tablet;
  }

  @include mobile {
    height: 22rem;
    padding: 0 $padding-mobile;
  }

  &__title {
    display: none;
    position: absolute;
    top: 25.3rem;
    @include sectionTitle;
    color: $white-color;
    z-index: 10;

    @include tablet {
      display: block;
      top: 10.9375rem;
    }

    @include mobile {
      top: 23.6875rem;
    }
  }

  &__book_button {
    position: relative;
    top: 30.5rem;
    display: none;

    @include tablet {
      display: block;
      top: 16.125rem;
    }

    @include mobile {
      top: 28.125rem;
    }
  }

  &__video_container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    @include tablet {
      top: 0;
    }

    @include mobile {
      top:0;
    }
  }

  &__image_container {
    width: 100%;
    height: 100%;
    position: relative;
    top: -1rem;

    @include tablet {
      width: 110%;
      height: 110%;
      top: -3rem;
      right: -27%;
    }

    @include mobile {
      width: 170%;
      height: 170%;
      right: unset;
      top: -24.5rem;
      right: 34%;
    }
  }
}
