@import '/src/styles/main.module.scss';

.interested_section {
  position: relative;
  background-color: $main-font-color;
  height: 68.875rem;
  padding: 0 $padding-horizontal;
  overflow: hidden;

  @include tablet {
    height: 35.3rem;
    padding: 0 $padding-tablet;
  }

  @include mobile {
    height: 41.875rem;
    padding: 0 $padding-mobile;
  }

  &__title {
    display: none;
    position: absolute;
    top: 25.3rem;
    @include sectionTitle;
    color: $white-color;
    z-index: 10;

    @include tablet {
      display: block;
      top: 10.9375rem;
    }

    @include mobile {
      top: 23.6875rem;
    }
  }

  &__book_button {
    position: relative;
    top: 30.5rem;
    display: none;

    @include tablet {
      display: block;
      top: 16.125rem;
    }

    @include mobile {
      top: 28.125rem;
    }
  }

  &__video_container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    // top: -3rem;

    @include tablet {
      // top: -2rem;
      top: 0;
    }

    @include mobile {
      // top: -2.2rem;
      top:0;
    }
  }

  &__image_container {
    width: 100%;
    height: 100%;
    position: relative;
    top: -1rem;

    @include tablet {
      width: 110%;
      height: 110%;
      top: -3rem;
      right: -27%;
    }

    @include mobile {
      width: 170%;
      height: 170%;
      right: unset;
      top: -24.5rem;
      right: 34%;
    }
  }

  // &__note {
  //   display: flex;
  //   flex-direction: column;
  //   position: absolute;
  //   color: $white-color;
  //   font-family: $fraktion-semibold;
  //   font-size: 1.25rem;
  //   text-transform: uppercase;

  //   @include tablet {
  //     font-size: 0.875rem;
  //     line-height: 1.05rem;
  //   }

  //   @include mobile {
  //     font-size: 0.875rem;
  //     line-height: 1.05rem;
  //   }

  //   &__1 {
  //     top: 36.3125rem;
  //     left: 38rem;

  //     @include tablet {
  //       top: 15rem;
  //       left: 33rem;
  //     }

  //     @include mobile {
  //       top: 7.8125rem;
  //       left: 2.1875rem;
  //     }
  //   }

  //   &__2 {
  //     top: 41rem;
  //     left: 34rem;

  //     @include tablet {
  //       top: 19rem;
  //       left: 25rem;
  //     }

  //     @include mobile {
  //       top: 13.875rem;
  //       left: 0.9375rem;
  //     }
  //   }

  //   &__3 {
  //     top: 42rem;
  //     left: 74rem;

  //     @include tablet {
  //       top: 20rem;
  //       left: 30rem;
  //     }

  //     @include mobile {
  //       top: 9.125rem;
  //       left: 18.625rem;
  //     }
  //   }

  //   &__4 {
  //     top: 14rem;
  //     left: 78rem;

  //     @include tablet {
  //       top: 4rem;
  //       left: 30rem;
  //     }

  //     @include mobile {
  //       top: 18.25rem;
  //       left: 14.4375rem;
  //     }
  //   }
  // }

  // &__circle {
  //   width: 0.9375rem;
  //   height: 0.9375rem;
  //   background-color: $white-color;
  //   border-radius: 50%;

  //   @include tablet {
  //     width: 0.634375rem;
  //     height: 0.634375rem;
  //   }
  // }

  // &__note_title {
  //   padding-left: 1.875rem;

  //   @include tablet {
  //     padding-left: 0.634375rem;
  //   }
  // }

  // &__elipse {
  //   position: absolute;
  //   width: 36rem;
  //   height: 5rem;

  //   @include tablet {
  //     width: 18.3125rem;
  //     height: 2.5rem;
  //   }

  //   &__1 {
  //     top: 14rem;
  //     left: 42rem;
  //     opacity: 0.95;

  //     @include tablet {
  //       top: 7rem;
  //       left: 35rem;
  //       opacity: 1;
  //     }
  //   }

  //   &__2 {
  //     top: 23.5rem;
  //     left: 42rem;

  //     @include tablet {
  //       top: 12rem;
  //       left: 35rem;
  //     }
  //   }

  //   &__3 {
  //     top: 32.5rem;
  //     left: 42rem;

  //     @include tablet {
  //       top: 17rem;
  //       left: 35rem;
  //     }
  //   }

  //   &__4 {
  //     top: 41.5rem;
  //     left: 42rem;
  //     opacity: 0;

  //     @include tablet {
  //       top: 22rem;
  //       left: 35rem;
  //     }
  //   }
  // }
}
