@import '/src/styles/main.module.scss';

.container {
  @include flexCenter;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  z-index: 10;

  video {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    object-position: center;
  }

  @include tablet {
    aspect-ratio: 9 / 16;
  }

  @include mobile {
    aspect-ratio: 0.462;
  }

  &__title {
    color: $white-color;
    text-transform: capitalize;
    font-size: 1.625rem;
    margin-bottom: 0.9375rem;

    @include tablet {
      font-size: 1rem;
    }
  }

  &__form {
    @include flexCenter;
    width: 45%;
    height: 8rem;
    border-radius: 0.8rem;
    background-color: $haiqu-blue;

    @include tablet {
      width: 94%;
    }

    @include mobile {
      flex-direction: column;
      gap: 1.25rem;
      height: 11rem;
    }

    input {
      width: 70.4%;
      background-color: $haiqu-blue;
      margin-right: 1.875rem;
      font-family: $fraktion-font;
      font-size: 1.25rem;
      color: $white-color;
      outline: none;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #fff;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $white-color;
      }

      @include mobile {
        margin-right: unset;
      }
    }
  }

  &__button {
    border: none;
    text-transform: uppercase;
    background-color: rgba($haiqu-light-grey, 0.35);
    color: $white-color;
    border-radius: 0.8rem;
    padding: 0.1875rem 0.625rem 0.3125rem 0.625rem;
    font-family: $fraktion-font;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      opacity: 0.6;
      transition: 0.3s ease;
    }
  }

  &__info {
    position: absolute;
    font-family: $fraktion-semibold;
    font-size: 1.25rem;
    line-height: 1.5rem;
    bottom: $padding-horizontal;
    left: $padding-horizontal;
    text-transform: uppercase;
    color: $white-color;

    @include mobile {
      display: none;
    }
  }
}
