@import '/src/styles/main.module.scss';

.main {
  position: relative;
  width: 100vw;
  font-family: $neue-montreal-font;
  // overflow-x: hidden;

  &__testimonial {
    background-color: $main-font-color;
    padding: $padding-horizontal;
    padding-bottom: 13.125rem;
    position: relative;
    gap: $padding-horizontal;
  }

  &__ticker_container {
    @include flexCenter;
    width: 100%;
    // overflow-x: hidden;
  }
}
