@import '/src/styles/main.module.scss';

.main {
  position: relative;
  font-family: $neue-montreal-font;
  width: 100vw;
  // overflow-x: hidden;
}

.book_a_demo_container {
  position: fixed;
  bottom: 1.875rem;
  right: 1.875rem;
  z-index: 9999999999;

  @media (max-width: 834px) {
    display: none;
  }
}