@import '/src/styles/main.module.scss';

.lab {
  position: relative;
  width: 100%;
  color: $white-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding-mobile;
  // z-index: 9999;

  @include mobile {
  }

  &__bg {
    position: absolute;
    background-color: $main-font-color;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__bg__gray {
    position: absolute;
    background-color: $white-color;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    @include mobile {
      display: none;
    }
  }

  &__october {
    font-size: 1.625rem;
    line-height: 116%;
    margin-top: 13.6875rem;

    @include tablet {
      margin-top: 10rem;
      font-size: 1rem;
    }

    @include mobile {
      margin-top: 7.5rem;
      font-size: 0.875rem;
    }
  }

  &__year {
    font-size: 37.9375rem;
    // margin-top: -10rem;

    @include tablet {
      font-size: 21.875rem;
    }

    @include mobile {
      font-size: 10rem;
      line-height: 100%;
      margin-bottom: 0.93rem;
    }
  }

  &__creative_lab {
    font-size: 5.25rem;
    margin-bottom: 13.125rem;
    margin-top: -3%;

    @include tablet {
      font-size: 3.375rem;
    }

    @include mobile {
      text-align: center;
      font-size: 2.75rem;
      width: 18.3125rem;
    }
    margin-bottom: 7.5rem;
  }

  &__text {
    text-align: center;
    width: 39.6875rem;
    font-size: 2.125rem;
    margin-bottom: 4.1875rem;
    line-height: 116%;

    @include tablet {
      width: 27.8125rem;
      font-size: 1.5rem;
      margin-bottom: 5rem;
    }

    @include mobile {
      width: 18.125rem;
      font-size: 1.25rem;
    }
  }
}
