@import '/src/styles/main.module.scss';

.book_a_demo {
  position: absolute;
  font-size: 2.125rem;
  line-height: 2.44375rem;
  font-family: $fraktion-font;
  padding: 0.3125rem 0.75rem 0.4375rem 0.75rem;
  color: $white-color;
  border: unset;
  border-radius: 0.625rem;
  background-color: rgba($haiqu-light-blue, 0.35);
  text-transform: uppercase;
  z-index: 10;
  transition: 0.3s ease;
  cursor: pointer;

  &:hover {
    transition: 0.3s ease;
    opacity: 0.6;
  }
}
